@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Medium'), local('TT-Interfaces-Medium'),
    url('../fonts/TTInterfaces-Medium.woff2') format('woff2'),
    url('../fonts/TTInterfaces-Medium.woff') format('woff'),
    url('../fonts/TTInterfaces-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces Regular'), local('TT-Interfaces-Regular'),
    url('../fonts/TTInterfaces-Regular.woff2') format('woff2'),
    url('../fonts/TTInterfaces-Regular.woff') format('woff'),
    url('../fonts/TTInterfaces-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    height: auto;
}

body {
    font-family: 'TT Interfaces';
}
a {
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    @media (max-width: 950px) {
        padding: 0 16px;
    }
}

.open_details{
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    background: green;
    border-radius: 5px;
    cursor: pointer;
}