@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}img {
    height: auto;
}

body {
    font-family: "Inter", serif;
    font-family: "Montserrat", serif;
}

a,
path {
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 750px) {
        padding: 0 15px;
    }
}

.header-push {
    height: 89px;
    @media (max-width: 950px) {
        height: 77px;
    }
    @media (max-width: 750px) {
        height: 72px;
    } 
}

.header {
    background: #181C21;
    padding: 22px 0;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 555;
    box-shadow: 0px 11px 46.6px 0px rgba(206, 206, 206, 0.16);
    @media (max-width: 950px) {
        padding: 16px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;

        @media (max-width: 750px) {
            img {
                width: 42px;
                height: 40px;
                object-fit: cover;
                object-position: left;
            }
        }
    }

    .main_nav {
        margin-left: auto;

        @media (max-width: 950px) { 
            display: none;
            position: absolute;
            top: 100%;
            background: #181C21;
            border-top: 5px solid#FFF;
            left: 0;
            width: 100%;
            padding: 15px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 50px;
            list-style-type: none;
            @media (max-width: 950px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            li {
                @media (max-width: 950px) {
                    border-bottom: 2px solid #fff;
                    padding-bottom: 15px;
                    min-width: 130px;
                    text-align: center;
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                    }
                }
                a {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    text-transform: uppercase;

                    &:hover {
                        color: #FF6915;
                    }
                }
            }
        }
    }

    .social-networks {
        display: flex;
        align-items: center;
        @media (max-width: 950px) {
            margin-left: auto;
        }

        a {
            margin-left: 25px;
            display: flex;
            align-items: center;

            &:hover {
                path {
                    fill: #FF6915;
                }
            }
        }
    }

    .header__burger {
        display: none;
    }

    @media (max-width: 950px) {
        .header__burger {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 1;
            margin-left: 25px;
        }

        .header__burger span {
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            border-radius: 5px;
        }

        .header__burger:before,
        .header__burger:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            border-radius: 5px;
        }

        .header__burger:before {
            top: 0;
        }

        .header__burger:after {
            bottom: 0;
        }

        .header__burger.active:before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 9px;
        }

        .header__burger.active span {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }

        .header__burger.active:after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: 9px;
        }

    }
}

.btn-1 {
    min-width: 345px;
    height: 90px;
    padding: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #FF8000;
    text-transform: uppercase;
    border: 2px solid #FF8000;

    &:hover {
        background-color: #fff;
        color: #FF8000;
    }

    @media (max-width: 950px) {
        width: 260px;
        min-width: 260px;
        height: 58px;
        font-size: 20px;
        padding: 17px;
    }
}

.top-banner {
    padding: 155px 0 164px;
    background-image: url(../img/bg-top.jpg);
    background-size: cover;
    background-position: center;

    @media (max-width: 900px) {
        padding: 75px 0 94px;
        background: none;
    }

    .flex-wrapper {
        display: flex;
        background: #181C21;
        justify-content: space-between;

        @media (max-width: 900px) {
            margin: 0 -40px;
        }

        @media (max-width: 750px) {
            margin: 0 -15px;
            flex-direction: column-reverse;
        }
    }

    .left {
        padding: 60px 45px;
        padding-right: 17px;

        @media (max-width: 950px) {
            padding: 30px 40px;
            padding-right: 10px;
        }

        @media (max-width: 750px) {
            padding: 15px 30px 25px;
            text-align: center;
        }
    }

    .text {
        max-width: 400px;
        margin-bottom: 50px;
        margin-top: auto;
        color: #FFF;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 950px) {
            font-size: 12px;
            max-width: 260px;
            margin-bottom: 15px;
        }

        @media (max-width: 750px) {
            margin: 0 auto 15px;
            text-align: left;
        }
    }

    .right {
        max-width: 60%;
        display: flex;
        align-items: flex-end;

        @media (max-width: 950px) {
            margin-right: 40px;
        }

        @media (max-width: 750px) {
            max-width: 100%;
            margin: 0 15px 0;
        }

        img {
            max-width: 100%;
            margin-top: -110px;

            @media (max-width: 950px) {
                margin-top: -40px;
                max-width: 330px;
                width: 100%;
            }

            @media (max-width: 750px) {
                max-width: 100%;
                margin-top: -55px;
                max-width: 345px;
                margin: -55px auto 0;
            }
        }
    }
}

.footer {
    padding: 65px 0;
    background: #181C21;

    @media (max-width: 900px) {
        padding: 25px 0 47px;
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 750px) {
            flex-direction: column;
            gap: 25px;
        }
    }

    .left {
        max-width: 574px;

        @media (max-width: 900px) {
            max-width: 290px;
        }
    }

    .title {
        color: #FFF;
        font-family: Inter;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            font-size: 20px;
        }
    }

    .text {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 900px) {
            font-size: 12px;
        }
    }

    .right {
        margin: auto;

        @media (max-width: 750px) {
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .email {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 900px) {
            font-size: 12px;
        }

        a {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 25px;

            @media (max-width: 900px) {
                font-size: 12px;
            }

            &:hover {
                color: #FF6915;
            }
        }
    }

    .phone-numbers {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;

        @media (max-width: 900px) {
            font-size: 12px;
        }

        @media (max-width: 750px) {
            margin: 25px 0 0;
        }

        a {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 25px;

            @media (max-width: 900px) {
                font-size: 12px;
            }

            &:hover {
                color: #FF6915;
            }
        }
    }

    .social-networks {
        display: flex;
        gap: 25px;

        a {
            display: flex;
            align-items: center;

            &:hover {
                path {
                    fill: #FF6915;
                }
            }
        }
    }

}

.responsibilities {
    background-image: url(../img/bg-top.jpg);
    background-size: cover;
    background-position: center;
    padding: 65px 0;

    @media (max-width: 900px) {
        padding: 35px 0;
        background: none;
    }

    .container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        @media (max-width: 900px) {
            gap: 16px;
        }
    }

    .responsibilities_block {
        width: calc(100% / 4 - 23px);
        border-radius: 25px;
        padding: 30px 22px;
        border: 1px solid #181C21;
        background: #232429;
        box-shadow: -8px -8px 4px 0px rgba(0, 0, 0, 0.25) inset, 8px 8px 4px 0px rgba(55, 63, 65, 0.25) inset, 4px 7px 12px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;

        @media (max-width: 900px) {
            padding: 28px 12px;
            width: calc(100% / 4 - 12px);
        }

        @media (max-width: 750px) {
            padding: 28px 12px;
            width: calc(100% / 2 - 12px);

        }
    }

    .images {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;

        @media (max-width: 900px) {
            margin-bottom: 0;

            img {
                width: 50px;
                height: auto;
            }
        }
    }

    .text {
        margin: auto;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (max-width: 900px) {
            font-size: 9px;
        }
        @media (max-width: 750px) {
            min-height: 44px;
            display: flex;
            align-items: center;
        }
    }
}


.modules {
    background: #181C21;
    padding: 65px 0;

    @media (max-width: 900px) {
        padding: 35px 0;
    }

    .container {
        text-align: center;
    }

    .title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 35px;
        text-transform: uppercase;

        @media (max-width: 900px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    .text {
        max-width: 400px;
        color: #FFF;
        margin: 0 auto 40px;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 900px) {
            font-size: 12px;
            max-width: 245px;
        }

        @media (max-width: 750px) {
            margin-bottom: 25px;
        }
    }

    .images {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        width: 26%;

        @media (max-width: 1100px) {
            gap: 16px;
        }

        @media (max-width: 900px) {
            width: calc(100% / 3 - 35px);
        }

        @media (max-width: 750px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        img {
            max-width: 100%;

            @media (max-width: 750px) {
                max-width: 200px;
            }
        }
    }

    .plus {
        color: #FFF;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (max-width: 900px) {
            font-size: 60px;
            line-height: 35px;
        }
    }

    .btn-1 {
        margin-top: 65px;

        @media (max-width: 900px) {
            margin-top: 35px;
        }

        @media (max-width: 750px) {
            margin-top: 20px;
        }
    }
}


.best {
    .best_title {
        color: #000;
        margin: -100px 0 40px;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: 900px) {
            font-size: 20px;
            margin: -60px 0 35px;
        }
    }

    .best_block {
        background: #181C21;
        color: #FFF;
        padding: 65px 0;

        @media (max-width: 900px) {
            padding: 35px 0;
        }

        .maf_text {
            max-height: 200px;
            overflow: hidden;
            position: relative;

            @media (max-width: 1100px) {
                max-height: 140px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: linear-gradient(0deg, #181c21 0, rgba(48, 50, 53, 0) 100%);
                height: 130px;
                z-index: 1;
            }
        }

        &:nth-child(2n) {
            background: #F5F5F5;
            color: #181C21;

            .container {
                flex-direction: row-reverse;

                @media (max-width: 750px) {
                    flex-direction: column;
                }
            }

            .maf_text {
                &::after {
                    content: '';
                    background: linear-gradient(0deg, #F5F5F5 0, rgba(48, 50, 53, 0) 100%);
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 750px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .first_part {
        width: calc(50% - 30px);

        @media (max-width: 900px) {
            max-width: 307px;
        }

        @media (max-width: 750px) {
            width: 100%;
            max-width: 100%;
            max-width: 250px;
        }

        .img {
            display: flex;
            align-items: center;
            position: relative;
            padding-top: 90%;

            @media (max-width: 750px) {
                margin: 0 auto 15px;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .second_part {
        width: calc(50% - 30px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: 750px) {
            width: 100%;
        }

        .text_before {
            margin-bottom: 15px;
        }

        .title {
            font-family: Montserrat;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 20px;

            @media (max-width: 900px) {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }

        .desc {
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 30px;

            @media (max-width: 900px) {
                font-size: 12px;
                margin-bottom: 15px;
            }

            ul {
                padding-left: 27px;

                @media (max-width: 900px) {
                    padding-left: 23px;
                }

                li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: none;
                    }
                }
            }
        }
    }

    .btn-1 {
        margin-top: auto;
    }

    @media (max-width: 750px) {
        .btn-1 {
            margin: 0 auto;
            display: flex;
        }
    }
}


.catalog {
    padding: 65px 0;
    background-image: url(../img/cat-top.jpg);
    background-size: cover;
    background-position: center;

    @media (max-width: 900px) {
        padding: 35px 0;
        background: none;
    }

    .catalog-title {
        color: #000;
        text-align: center;
        margin: 0 auto 75px;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;

        @media (max-width: 900px) {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }

    .catalog_items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 75px;

        @media (max-width: 900px) {
            gap: 22px;
            row-gap: 15px;
        }

        @media (max-width: 750px) {
            flex-direction: column;
            gap: 15px;

        }
    }

    .catalog_element {
        width: calc(100% / 2 - 30px);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: #181C21;

        @media (max-width: 900px) {
            width: calc(100% / 2 - 15px);
        }

        @media (max-width: 750px) {
            width: 100%;
        }
    }

    .first_part {
        display: flex;
        align-items: center;
        width: 50%;

        @media (max-width: 900px) {
            width: 45%;
        }

        @media (max-width: 750px) {
            width: 40%;
        }

        .img {
            margin-top: -30px;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            padding-top: 80%;

            @media (max-width: 900px) {
                width: 100%;
                padding-top: 90%;
                margin: 0;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .second_part {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 25px 15px;

        @media (max-width: 900px) {
            width: 55%;
            padding: 13px 15px;
            padding-right: 4px;
        }
    }

    .title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;

        @media (max-width: 1100px) {
            font-size: 16px;
        }

        @media (max-width: 900px) {
            font-size: 12px;
        }
    }

    .open_details {
        margin-top: auto;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 1100px) {
            font-size: 16px;
        }

        @media (max-width: 900px) {
            font-size: 12px;
        }

        &:hover {
            color: #FF6915;
        }
    }
}

.catalog_element{
    cursor: pointer;
    &:hover{
        .open_details{
            color: #FF6915;
        }
    }

}

.screen-reader-response {
    display: none;
}


.contact-top {
    padding: 55px 0 150px;
    @media (max-width: 750px) {
        padding: 10px 0 120px;
    }
    background: #F5F5F5; 
    .flex-wrapper {
        display: flex;
        gap: 28px;
        @media (max-width: 750px) {
            flex-direction: column-reverse;
        }
    }
    .left {
        max-width: 445px;
        width: 40%;
        @media (max-width: 750px) {
            width: 100%;
            max-width: 370px; 
            margin: 0 auto;
        }
    }
    .title {
        color: #181C21; 
        font-family: Montserrat;
        font-size: 27px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        @media (max-width: 750px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .text {
        color: #181C21;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 430px;
        margin-bottom: 60px;
        @media (max-width: 750px) {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .right {
        max-width: 637px;
        width: 60%;
        @media (max-width: 750px) {
            width: 100%;
            max-width: 370px; 
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
    }
    form {
        .wpcf7-form-control-wrap {
            width: 100%;
            input {
                max-width: 100%;
                width: 445px;
                height: 90px; 
                border: 2px solid #181C21; 
                background: #FFF;
                color: #AAA;
                padding: 25px;
                font-family: Montserrat;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 30px;
                @media (max-width: 900px) {
                    font-size: 15px;
                    height: 59px;
                }
                &::placeholder {
                    color: #AAA; 
                    font-family: Montserrat; 
                }
            }
        }
        
        .wpcf7-submit {
            min-width: 345px;
            height: 90px; 
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: #FF8000;
            text-transform: uppercase;
            border: 2px solid #FF8000;
            cursor: pointer;
            transition: 0.3s ease-in-out; 

            &:hover {
                background-color: #fff;
                color: #FF8000;
            }

            @media (max-width: 950px) {
                width: 100%;
                min-width: 260px;
                height: 58px;
                font-size: 20px;
                padding: 17px;
            } 
        }
    }
}


.thankyou {
    padding: 55px 0 150px;
    @media (max-width: 750px) {
        padding: 10px 0 120px;
    }
    background: #F5F5F5; 
    .flex-wrapper {
        display: flex;
        gap: 28px;
        @media (max-width: 750px) {
            flex-direction: column;
        }
    }
    .right {
        max-width: 438px;
        width: 40%;
        @media (max-width: 750px) {
            width: 100%;
            max-width: 370px; 
            margin: 0 auto;
        }
    }
    .title {
        color: #181C21; 
        font-family: Montserrat;
        font-size: 27px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        @media (max-width: 750px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .text {
        color: #181C21;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 430px;
        margin-bottom: 60px;
        @media (max-width: 750px) {
            font-size: 16px;
            margin-bottom: 25px;
        }
    }
    .left {
        max-width: 634px;
        width: 60%;
        @media (max-width: 750px) {
            width: 100%;
            max-width: 370px; 
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
    } 
}
#popup-details {
    padding: 0;
    background-color: transparent;
}

.details-content {
    background: #fff;
    display: flex;
    gap: 24px;
    padding: 45px;
    @media (max-width: 900px) {
        padding: 35px 30px;
    }
    @media (max-width: 690px) {
        flex-direction: column;
        padding: 35px 15px 30px;
    }

    .left {
        max-width: 456px;
        @media (max-width: 690px) {
            width: 100%;
        }
    }

    .title {
        color: #181C21;
        font-family: Montserrat;
        font-size: 27px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    .text {
        color: #181C21;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;

        @media (max-width: 900px) {
            font-size: 12px;
            margin-bottom: 15px;
        }

        ul {
            padding-left: 27px;

            @media (max-width: 900px) {
                padding-left: 23px;
            }

            li { 
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: none;
                }
            }
        }
    }
    .btn-1 {
        @media (max-width: 690px) {
            width: 100%;
        }
    }
    .only_for_mobile {
        display: none;

        img {
            max-width: 100%;
        }
        @media (max-width: 690px) {
            display: flex;
            align-items: center;
            margin: 15px 0;
        }
    }
 

    .text_before {
        margin-bottom: 15px;
    }
    .right {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width: 890px) {
            max-width: 50%;
        }
        @media (max-width: 690px) {
            max-width: 100%;
            width: 100%;
        }

        img {
            max-width: 100%;
            @media (max-width: 690px) {
                &:first-child {
                    display: none;
                }
            }
        }
    }
}