 
/* MAIN  FILES
   ========================================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
 
body ::-moz-selection {
  background: #081427;
  color: #ffffff;
}
body ::selection {
  background: #081427;
  color: #ffffff;
}

#wrap {
  -moz-flex: 1 0 auto;
  flex: 1 0 auto;
}

mark {
  background: none;
}
 
 